/* ########################################## --- 全局 --- ########################################## */
body {
	color:#737373;
	font-family:Tahoma, Helvetica, Arial, sans-serif;
	font-size:12px;
	cursor:default;
	background:#e5e5e5 url(../images/main_background.jpg) no-repeat center 117px;
	display: block;
	text-align: center;
	width:100%;
}
img {
	border: 0 none;
	vertical-align: top;
}
a{
	color:#666;
	text-decoration:none;
}
a:hover {
	text-decoration:underline;
}
a:focus {
	outline: none;
}
.fixed:after {
	content: ".";
	display: block;
	clear: both;
	height: 0;
	visibility: hidden;
}
.fixed {
	display: block;
	min-height: 1%;
}
*html .fixed {
	height: 1%;
}
.clear {
	diplay: block!important;
	float: none!important;
	clear: both;
	overflow: hidden;
	width: auto!important;
	height: 1px!important;
	margin: 0 auto!important;
	padding: 0!important;
	font-size: 1px;
	line-height: 1px;
}
.fl, .fr {
	display: inline;
	float: left;
}
.fr {
	float: right;
}
.clear10 {
	height:10px;
	clear:both;
	overflow: hidden;
	font-size: 1px;
}
/* ########################################## --- 覆盖定义 --- ########################################## */

/*自定义头部*/
.ec_header {
	border-top:#000 5px solid;
}
.ec_header .position_fixed {
	position:relative;
	width:950px;
	height:195px;
	overflow:hidden;
	margin:0 auto;
}
.ec_header .home {
	width:151px;
	height:57px;
	position:absolute;
	bottom:7px;
	left:0;
	background:#fff;
	z-index:2;
}
.ec_header .home a {
	width:151px;
	height:37px;
	background:#fff;
	font-family:"Helvetica Neue Bold", "黑体", Arial, Verdana, Tahoma;
	text-align:center;
	font-weight:bold;
	padding-top:20px;
	color:#000;
	display:block;
	text-decoration:none;
}
/*去掉系统导航模块的背景*/
.shop-banner {
}
.shop-header {
	z-index:1;
	background:none;
}
.shop-banner .bd {
	background:none;
	padding-top:38px;
}
.shop-header .shop-summary {
	/*display:none;*/
	color:#000;
	margin-right:
}
.shop-header .shop-summary a {
	color:#000;
	text-decoration:none;
}
/*下拉分类*/
.grid-m ,.grid-s5m0{
z-index:1;
}
.cat-items {
	border:none;
	background:#FF4600;
	color:#FFF;
	overflow:visible!important;
	padding:5px 0 5px 10px;
	position:absolute;
	top:-28px;
	left:-17px;   /*All*/
	left:-18px\9; /*IE*/
	_left:-17px;  /*IE6*/
	width:520px;
	max-height:none;
	min-height:120px;
}
.cat-items a {
	color:#fff;
}
.cat-items .cat-hd {
/*background:#df3e01;*/
}
.cat-items .bd .cat-item a {
	white-space:nowrap;
	padding:2px 5px;
}
/*  导航  */
.shop-header .nav {
	height:56px;
	background:none;
}
.shop-header .nav ul {
	height:56px;
	margin:0;
	padding:0;
}
.shop-header .nav ul li {
	background:url(../images/nav_li_bg.gif) repeat-x 0 0px;
	margin:0;
	padding:0;
	height:56px;
	line-height:56px;
	margin-right:2px;
}
.shop-header .nav ul li a {
	color:#fff;
	height:56px;
	padding:22px 20px 0 20px;
	display:block;
	font-family:"Helvetica Neue Bold", "黑体", Arial, Verdana, Tahoma;
	text-decoration:none;
	text-transform:uppercase
}
.shop-header .nav ul li a:hover {
	color:#fff;
	background:url(../images/nav_li_bg.gif) repeat-x 0 -67px;
}
.shop-header .nav ul li.current a {
	color:#000;
	border:none;
	background:#fff;
}
.shop-header .nav ul li.current a:hover {
	color:#fff;
	background:#ff4600;
}
.shop-header .nav ul li:first-child a {
	padding:20px 40px 0 40px;
}
.shop-header .nav ul li:first-child, .shop-header .nav ul li:first-child a, .shop-header .nav ul li:first-child a:hover {
	height:56px;
	background:#fff;
	color:#000;
}
/*搜索*/

/*search-x*/
.shop-search-x {
	height:70px;
	width:250px;
	margin:0 auto;
	overflow:hidden;
	position:absolute;
	right:20px;
	top:70px;
	background:none;
	z-index:999;
}
.shop-search-x .bd {
	background:none;
	border:none;
	z-index:999;
}
.shop-search-x .search-x {
	margin:0;
	padding:0;
	background:none;
	z-index:999;
}
.shop-search-x .search-x .form {
	margin:0;
	padding:0;
	background:none;
	z-index:999;
}
.shop-search-x .search-x .form button {
	background:#000;
	width:50px;
	height:45px;
	cursor:pointer;
	margin:0;
	display:block;
	color:#fff;
	z-index:999;
}
.shop-search-x .search-x .form button:hover {
	width:50px;
	height:45px;
	cursor:pointer;
	display:block;
	color:#000;
	background:#ff4600;
}
.shop-search-x .search-x .form label {
	width:190px;
	width:170px;
	height:45px;
	line-height:45px;
	left:10px;
	z-index:999;
}
.shop-search-x .search-x .form input.text {
	height:40px;
	width:182px;
	_width:172px;
	border:none;
	background:#fff;
	font-size:26px;
	margin:0;
	z-index:999;
}
.shop-search-x .search-x .keys {
	color:#000;
	font-size:12px;
	font-weight:bold;
	background:#none;
	width:250px;
	display:none;
}
.shop-search-x .search-x .keys a {
	font-weight:normal;
	color:#000;
	text-decoration:none;
}
.shop-search-x .search-x .keys a:hover {
	color:#000;
	text-decoration:underline;
}
/*主框架*/
.grid-m, .grid-s5m0 {
	background:#fff;
}
/*标题*/
.box .hd {
	border:none;
}
.grid-m .box .hd {
	border-top:#e5e5e5 1px solid;
	padding-top:8px;
}
.box .hd h3 {
	font-size: 16px;
}
.box .hd h3 {
	color: #242424;
	font-family:"Helvetica Neue Bold", "黑体", Arial, Verdana, Tahoma;
}
.box .bd {
	border:none;
}
/*网格*/
.grid .pic {
	border:none;
	background:#e6e6e6;
}
.grid .desc {
	height:42px;
	line-height:1.2;
	overflow:hidden;
 *word-break:break-all;
 *word-wrap:break-word;
	padding:5px;
}
.grid .price {
	padding-top:5px;
	overflow:hidden;
	white-space:nowrap;
	color:#999;
}
.grid .price span {
	padding-right: 4px;
	color:#5C665C;
}
.grid .price strong {
	font-weight:700;
	color:#999;
}
/* 图片 默认  */
.grid li {
	background:#242424;
	width: 160px;
	_width:160px;
	padding-bottom:5px;
}
.grid-m .grid li {
	background:#242424;
	width: 160px;
	_width:160px;
	margin: 0px 0px 20px 25px;
	_margin: 0px 0px 20px 18px;
	padding-bottom:5px;
}
.grid li:hover {
	background:#333;
}
.grid .pic:hover {
	background:#222;
}
.grid li a {
	color:#999;
}
.grid li a:hover {
	color:#fff;
}
/* big模式 950px情况下 */
.big li {
	padding-bottom:5px;
	width:220px;
}
.grid-m .big li {
	margin: 0 0 10px 14px;
	_margin: 0 0 10px 9px;
	padding-bottom:5px;
	width:220px;
}
.grid .big .pic {
	width:220px;
}
.grid .more-items {
	height: 20px;
	margin: 5px;
}
.grid .more-items a {
	float: right;
	width: 100px;
	height: 30px;
	margin-right: 10px;
	line-height: 30px;
	color: #ccc;
	text-align: center;
	border:none;
	background: #242424;
	background-image: -moz-linear-gradient(top, #242424, #242424); /* FF3.6 */
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #242424), color-stop(1, #242424)); /* Saf4+, Chrome */
 filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='#242424', EndColorStr='#242424'); /* IE6,IE7 */
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#242424', EndColorStr='#242424')";
	-moz-border-radius:0;
	-webkit-border-radius: 0;
}
.grid .more-items a:hover {
	color:#fff;
	background:#444444;
	background-image: -moz-linear-gradient(top, #444444, #444444); /* FF3.6 */
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #444444), color-stop(1, #444444)); /* Saf4+, Chrome */
 filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='#444444', EndColorStr='#444444'); /* IE6,IE7 */
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#444444', EndColorStr='#444444')";
}
/*****侧边******/
.grid-s5m0 .col-sub {
}
.grid-s5m0 .col-sub .hd {
}
/***左边栏**/

/*大分类*/
.col-sub .box .hd, .col-extra .box .hd {
	height:40px;
	line-height:40px;
	margin:0;
	border:none;
	background:url(../images/arrow_right.png) right -15px no-repeat;
}
.col-sub .box .hd:hover, .col-extra .box .hd:hover {
	background:url(../images/arrow_right.png) right -85px no-repeat;
}
.col-sub .bd, .col-extra .bd {
	border:none;
	background:#fff;
}
.col-sub .box .hd h3 span {
	color:#fff;
	height:40px;
	line-height:40px;
	font-size:16px;
	font-weight:normal;
}
/*左侧搜索*/
.col-sub .search-form .button {
	width: 70px;
	height: 26px;
	border-width: 0;
	font-size: 12px;
	font-weight: 700;
	background:none;
	background:#242424;
	color:#fff;
}
.col-sub .search-form .button:hover {
	background:#ff4600;
	cursor:pointer;
}
/*分类*/
.col-sub .cats {
	width:190px;
}
.col-sub .cats li.cat {/*
	border-bottom:#242424 1px solid;
	text-align:right;
	height:41px;
	line-height:41px;
	clear:both;*/
	border-bottom:#242424 1px solid;
}
.shop-category .cat, .shop-category .cat h4 {
	padding:0;
	border:none;
	text-align:right;
}
/* 店铺一级分类折叠icon */
.col-sub .shop-rank, .col-sub .shop-search, .col-sub .shop-category {
	padding:0;
	margin-bottom:10px;
}
.col-sub .box .hd, .col-sub .shop-category .hd, .col-sub .shop-category .hd h3 {
	padding:0;
	margin:0;
}
.col-sub .shop-category .hd h3 {
	padding-left:5px;
}
.col-sub .box .bd {
	padding:0;
	margin:0;
	border:0 !important;
	border:none !important;
}
/*全部宝贝*/
.cats .cat a {
	color:#7f7f7f;
	height:39px;
	line-height:39px;
}
.cats .cat a:hover {
	color:#ff4600;
	text-decoration:none;
}
.cats .cat h4 {
	border:none;
	border-bottom:#242424 1px solid;
	height:41px;
	line-height:41px;
	background:none;
} /* 默认 */
.cats .collapse .cat-hd, .shop-category .cats h4.collapse {
	background:url(../images/list_icon.gif) 10px 3px no-repeat;
	border-bottom:none;
} /* 展开 " - " */
.cats .collapse .cat-hd, .cats .expand .cat-hd {
	background:url(../images/list_icon.gif) 10px -93px no-repeat;
} /* 收起 " + " */
.cats .collapse .cat-hd, .cats .expand .cat-hd:hover {
/*	background:url(../images/list_icon.gif) 10px -46px no-repeat;*/
}
.cats .cat h4 a {
	font-size:14px;
	font-weight:normal;
	text-align:right;
	color:#242424;
}
.cats .cat h4 a:hover {
	text-decoration:none;
	color:#ff4600;
}
.cats .cat-bd {
	margin:0 !important;
}
/*二级分类*/
.cat-bd li {
	background:url(../images/list_icon.gif) 15px -120px no-repeat;
	height:39px;
	line-height:39px;
	border-bottom:#ccc 1px dotted;
}
/*店铺首页排行榜区*/
.shop-rank .rank-panel ul {
	padding:4px 0px 4px 4px;
	margin-bottom:15px;
}
.shop-rank .rank-panel ul li {
	padding:9px 0px;
	border-bottom:dashed 1px #eee;
	height:42px;
	overflow:hidden;
}
/*排行*/
.shop-rank .bd {
	padding: 0 0px 15px !important;
}
.shop-rank .tab-nav {
	border:none;
	border-right:#ccc 1px solid !important;
}
.shop-rank .tab-nav li {
	float: left;
	height: 28px;
	margin-left:0;
	width:95px;
	border:none;
	border-bottom:1px solid #ff4600 !important;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	background-color: #fff !important;
	background:none;
}
.shop-rank .tab-nav li.selected {
	border:none;
	border-bottom:1px solid #ff4600 !important;
	background:#ff4600 !important;
	width:94px;
}
.shop-rank .tab-nav li.selected span {
	color:#fff;
}
.shop-rank .rank-panels {
	border-top:none;
	border-right:#ccc 1px solid !important;
	border-bottom:  solid 1px #dedede!important;
	padding-bottom:10px;
}
.rank-panel ul li {
	border-bottom:  solid 1px #dedede!important;
}
.shop-rank .rank-panels li a {
	color:#242424;
}
.shop-rank .rank-panels li a:hover {
	color:#ff4600;
}
/*查看本店其他宝贝*/
.shop-rank .no-collect, .shop-rank .no-traded {
	padding:5px 15px;
	border:none;
	zoom:1;
	display:inline-block;
	background-image: -moz-linear-gradient(top, #242424, #242424); /* FF3.6 */
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #242424), color-stop(1, #242424)); /* Saf4+, Chrome */
 	filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='#242424', EndColorStr='#242424'); /* IE6+*/
	-moz-border-radius:0;
	-webkit-border-radius: 0;
}
.shop-rank .no-collect a, .shop-rank .no-traded a {
	line-height:26px;
	text-decoration:none;
	color:#fff;
	font-weight:bold;
}
.shop-rank .no-collect a:hover, .shop-rank .no-traded a:hover {
	color:#ff4600;
	font-weight:bold;
}




/****右侧*****/

.grid-s5m0 .col-main .box .hd{
	height:40px;
	line-height:40px;
	margin:0;
	border:none;
	background:#242424 url(../images/arrow_right.png) right -15px no-repeat;
}
.grid-s5m0 .col-main .box .hd:hover {
	background:#ff4600 url(../images/arrow_right.png) right -85px no-repeat;
}

.grid-s5m0 .col-main .box .hd h3 span {
	color:#fff;
	height:40px;
	line-height:40px;
	font-size:16px;
	font-weight:normal;
	padding-left:15px;
}
.grid-s5m0 .col-main .grid li {
	margin-right:2px !important;
}


/* ########################################## --- 自定义模块 --- ########################################## */

/*4格推荐*/
.onsale_4 {
	border-top:#e5e5e5 1px solid;
	padding-top:5px;
}
.onsale_4 .hd {
	height:35px;
	line-height:35px;
	border:none !important;
}
.onsale_4 .hd h3 {
	color:#252525;
	text-transform:uppercase;
}
.onsale_4 .hd h3 span {
	color:#313131;
	font-weight:normal;
	font-size:14px;
	margin-right:5px;
	text-transform:uppercase;
	padding-left:10px;
}
.onsale_4 .ec_grid {
}
.onsale_4 .ec_grid ul {
	width:920px;
	margin:0 auto;
}
.grid-m .onsale_4 .ec_grid ul li {
	margin: 0 5px 5px 5px;
	margin: 0 4px 5px 4px;
	padding-bottom:5px;
	width:220px;
	height:295px;
	float:left;
}
.onsale_4 .ec_grid ul li:hover {
}
.onsale_4 .ec_grid li a {
	width:220px;
	height:295px;
	display:block;
	background-color:#242424;
	background-image:url(../images/img_bg.jpg);
	background-position:left top;
	background-repeat:no-repeat;
	overflow:hidden;
}
.onsale_4 .ec_grid li a:hover {
	background-color:#ff4600;
	background-position:right top;
	text-decoration:none;
}
.onsale_4 .ec_grid li a img {
	width:220px;
	height:220px;
}
.onsale_4 .ec_grid li a:hover img {
}
.onsale_4 .ec_grid li a p {
	padding:5px;
	padding-bottom:0;
	color:#666;
 *word-break:break-all;
 *word-wrap:break-word;
	line-height:20px;
}
.onsale_4 .ec_grid li a p.desc {
	height:42px;
	overflow:hidden;
}
.onsale_4 .ec_grid li a:hover p {
	color:#fff;
	cursor:pointer;
}

/*活动介绍*/
.onsale_4 .ec_grid li a p.act_desc {
	height:65px;
	line-height:65px;
	overflow:hidden;
	background:url(../images/arrow_right.png) top no-repeat;
	padding-right:35px;
	padding-left:15px;
}
.onsale_4 .ec_grid li a:hover p.act_desc {
	background:url(../images/arrow_right.png) bottom no-repeat;
}

/*店铺公告*/
	/*右侧*/
.notice {
	width:910px;
	height:240px;
	margin:0 auto;
}
	.notice_right {
		width:280px;
		height:220px;
		float:right;
	}
	.notice_right .intro_cont {
		_height:150px;
		min-height:100px;
		max-height:160px;
		overflow:hidden;
	}
	.notice_right .add_fav {
	}
		.notice_right .add_fav .siteurl {
			width:200px;
			height:29px;
			line-height:29px;
			background:#f5f5f5;
			color:#878787;
			text-align:center;
			float:left;
		}
		.notice_right .add_fav .btn {
			width:66px;
			height:29px;
			line-height:29px;
			float:left;
			color:#fff;
			background:#ff4600;
			text-align:center;
		}
		.notice_right .add_fav .btn a {
			display:block;
			color:#fff;
		}
		.notice_right .add_fav .btn a:hover {
			text-decoration:none;
		}
		
	/*中间*/
	.notice_mid {
		width:260px;
		height:220px;
		float:right;
	}
		.notice_mid  .orange_box {
			width:220px;
			height:170px;
			background:#ff4600;
			clear:both;
			padding:10px;
			color:#fff;
			overflow:hidden;
		}
		.notice_mid  .orange_box h2 {
			color:#fff;
			font-size:14px;
		}
		.notice_mid  .orange_triangle {              
			border-color: #ff4600 transparent transparent transparent; 
			border-style: solid; 
			border-width: 20px 20px 20px 0px; 
			width: 0; 
			height: 0;
			margin-left:180px;
			font-size: 0; 
			line-height: 0;    
			_border-right-color: white; 
			_border-bottom-color: white; 
			_filter: chroma( color =white); 
		}
		
	/*左侧*/
	.notice_left {
		width:350px;
		height:240px;
		float:left;
		margin-right:10px;
	}

	.notice_left h2 {
		height:20px;
	}
	.notice_left .cont {
		height:55px;
		overflow:hidden;
		color:#878787;
	}
	.notice_left .more {
		height:20px;
	}
	.notice_left .more a {
		color:#242424;
	}
	.notice_left .more a:hover{
		color:#ff4600;
	}








/*分类*/
.cats_list {
	border-top:#e5e5e5 1px solid;
	padding-top:5px;
}
.cats_list .hd {
	height:35px;
	line-height:35px;
}
.cats_list .hd h3 {
	color:#252525;
	text-transform:uppercase;
}
.cats_list .hd h3 span {
	color:#313131;
	font-weight:normal;
	font-size:14px;
	margin-right:5px;
	text-transform:uppercase;
	padding-left:10px;
}
/*一级*/
.cats_list ul {
	width:910px;
	min-height:110px;
	margin: 0 auto;
	padding:0px;
}
.cats_list ul li {
	float: left;
	width:180px;
	height:auto;
	overflow:hidden;
	margin-top:15px;
}
.cats_list ul li a {
	font-weight:bold;
	line-height:160%;
	color:#000;
}
/*二级*/
.cats_list ul li ul li {
	float:none;
	margin-top:0;
}
.cats_list ul li ul li a {
	font-weight:normal;
	line-height:120%;
	color:#666;
}

/*页脚*/
.ftline {
	height:4px;
	background:#222;
	clear:both;
}

 
 
.footer {
	border-top: solid 2px #242424;
	height: 34px;
	position: fixed;
	z-index: 1050;
	bottom: 0;
	left: 0;
	width: 100%;
	background:#000000\9;
	background-color:rgba(0,0,0,0.7); 
	*filter:progid:DXImageTransform.Microsoft.Alpha(opacity=50);	
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(opacity=50)";
	filter:alpha(opacity=50);
	filter:alpha(opacity=50);
	background:url(../images/foot_png_bg.png) repeat-x;
	_background:#000;
}
.footer a {
	color:#fff;
}
.footer a:hover {
	color:#ff4600;
	text-decoration:none;
}
.footer .wraper {
	width:950px;
	margin:0 auto;
}
.footer .cart {
	padding-top: 10px;
	height: 13px;
	width: 155px;
	padding-bottom: 11px;
	border-right: solid 1px #242424;
	float:left;
	position:relative;
}
.footer .cart .cart_icon {
	position: absolute;
	top:-23px;
	left:0;
}
.footer .cart .mycart,  .footer .cart .bookmark {
	position: absolute;
	top:0;
	left:80px;
	background:url(../images/foot_icon.gif) left no-repeat;
	padding-left:8px;
}
.footer .cart .bookmark {
	top:9px;
}
.footer .cart .bookmark a {
	color:#666;
}
.footer .cart .bookmark a:hover {
	color:#ff4600;
	text-decoration:none;
}
.footer .slide580 {
	float:left;
	width:580px;
	border-right: solid 1px #242424;
	padding:2px 0 0 5px;
	height:30px;
	line-height:30px;
}
.footer .slide200 {
	float:left;
	width:200px;
	height:30px;
	padding:2px 0 0 5px;
}



/*整理*/
.scrollable {
	position: relative;
	width: 920px;
	margin:0 auto;
}
.scrollable h3 {
	padding-left:3px !important;
}
.scrollable h3 span {
	padding-left:0 !important;
}
.scrollable .prev, .scrollable .next {
	position: absolute;
	cursor: pointer;
	bottom:14px;
	width:34px;
	height:34px;
	z-index:20;
	outline:none;
}
.scrollable .prev {
	right:50px;
}
.scrollable .next {
	right: 15px;
}
.scrollable .prev a, .scrollable .next a {
	display:block;
	width:34px;
	height:34px;
	outline:none;
}
.scrollable .prev a {
	background:url(../images/arrow_scroll.png) bottom left no-repeat;
}
.scrollable .next a {
	background:url(../images/arrow_scroll.png) top left no-repeat;
}
.scrollable .prev a:hover {
	background:url(../images/arrow_scroll.png) bottom right no-repeat;
}
.scrollable .next a:hover {
	background:url(../images/arrow_scroll.png) top right no-repeat;
}
.scrollable .ks-switchable-nav {
	position: absolute;
	bottom:0;
	left:5px;
	width:900px !important;
	height:60px;
	background:#242424;
	color:#666;
	z-index:1;
	padding-left:10px;
}
.scrollable .ks-switchable-nav li {
	float: left;
	font-size: 1px;
	cursor: pointer !important;
	width:34px !important;
	height:30px !important;
	margin:10px 2px 0 0 !important;
	background:#666;
	color:#242424;
	font-size:20px;
	text-align:center;
	line-height:34px !important;
	display: list-item !important;
}
.scrollable .ks-switchable-nav li.ks-active {
	background:#ff4600;
	color:#fff;
}
.scroller {
	position: relative;
	width: 920px;
	height: 365px;
	margin:0 auto;
	overflow: hidden;
}
.scroller .ks-switchable-content {
	margin:0;
	border:none;
}
.scroller .ks-switchable-content li {
	float: left;
	width: 220px;
	height: 295px;
	margin:0 5px !important;
	overflow:visible;
	display: block;
	_display: inline !important; /* fix ie6 双边距 bug */
}
.scroller .ks-switchable-content li a img {
	float: left;
	width: 220px;
	height: 220px;
	border:none;
}
.scroller .ks-switchable-content li a {
	overflow:visible;
	height: 295px;
}
.scroller .ks-switchable-content li a:hover img {
	border:none;
}
/*图片轮播 920*390 */
.ad_920 {
	width:920px;
	height:390px;
	background:url(../images/slide_shadow.png) bottom center no-repeat;
	margin:0 auto;
}
.ec_slide_ad920 {
	position: relative;
	width: 920px;
	height:390px;
	border:0;
	overflow: hidden;
}
.ec_slide_ad920 .ks-switchable-content {
	width:920px;
	height:390px;
	border:0;
}
.ec_slide_ad920 .ks-switchable-content li a img {
	width: 920px;
	height:390px;
}
.ec_slide_ad920 .ks-switchable-nav {
	position: absolute;
	bottom: 5px;
	right: 5px;
	z-index: 99;
}
.ec_slide_ad920 .ks-switchable-nav li {
	float: left;
	width: 16px;
	height: 16px;
	line-height: 16px;
	margin-left: 3px;
	background-color: #ff4600;
	border: 1px solid #eee;
	color: #fff;
	text-align: center;
	cursor: pointer;
}
.ec_slide_ad920 .ks-switchable-nav li.ks-active {
	width: 18px;
	height: 18px;
	line-height: 18px;
	margin-top: -1px;
	color: #FFF;
	background-color: #222;
	font-weight: bold;
}
.ec_slide_ad920 .ks-switchable-nav li, .ec_slide_ad920 .ks-switchable-trigger-content {
	position: relative;
}
.ec_slide_ad920 .ks-switchable-trigger-mask {
	position: absolute;
	right: 0;
	width: 18px;
	height: 18px;
	background-color: #222;
	visibility: hidden;
}
.ec_slide_ad920 .ks-active .ks-switchable-trigger-mask {
	visibility: visible
}
/*图片轮播 580*30 */

.ec_slide_ad580 .ks-switchable-nav ,
.ec_slide_ad200 .ks-switchable-nav {
	display:none;
}
.ad_580 {
	width:580px;
	height:30px;
	margin:0;
}
.ec_slide_ad580 {
	position: relative;
	width: 580px;
	height:30px;
	border:0;
	overflow: hidden;
}
.ec_slide_ad580 .ks-switchable-content {
	width:580px;
	height:30px;
	border:0;
 	*left:0;
}
.ec_slide_ad580 .ks-switchable-content ul li {
	height:30px;
	line-height:30px;
	width:580px;
	overflow:hidden;
}

/*图片轮播 200*30 */
.ad_200 {
	width:200px;
	height:30px;
	margin:0;
}
.ec_slide_ad200 {
	position: relative;
	width: 200px;
	height:30px;
	border:0;
	overflow: hidden;
}
.ec_slide_ad200 .ks-switchable-content {
	width:200px;
	height:30px;
	border:0;
 	*left:0;
}
.ec_slide_ad200 .ks-switchable-content li a img {
	width: 200px;
	height:30px;
}

/*浮动模块*/
.ww {
	width:82px;
	height:auto;
	font-size:12px;
	position:fixed;
	_position:absolute;
	z-index:999;
}
.ww .float_bd {
	position:absolute;
	z-index:998;
}
.ww h2 {
	color:#FFF;
	width:80px;
	height:24px;
	line-height:24px;
	padding-top:2px;
	text-align:center;
	overflow:hidden;
	background:#242424;
}
.ww h3 {
	height:30px;
	line-height:30px;
	border-bottom:#ccc 1px dotted;
	border-top:#ccc 1px dotted;
	text-align:center;
}
.ww ul {
	text-align:center;
	width:80px;
	overflow:hidden;
	padding:5px 0 8px 0;
	background:url(../images/png_bg_white.png);
	_background:#fff;
}
.ww ul li {
	line-height:25px;
}
.ww .addfav {
	background:url(../images/foot_png_bg.png);
	color:#FFF;
	width:80px;
	text-align:center;
	border-bottom:#666 1px solid;
}
.ww .addfav a ,
.ww .top a {
	color:#fff;
	text-decoration:none;
	display:block;
	width:80px;
	height:22px;
	line-height:22px;
	padding:3px 0;
	}
.ww .addfav a:hover, .ww .top a:hover {
	color:#fff;
	text-decoration:underline;
	background:#ff4600;
}
.ww .top {
	color:#fff;
	background:url(../images/foot_png_bg.png);
	_background:#242424;
	width:80px;
	text-align:center;
}


/*左侧收藏*/

.left_bookmark {
	width:190px;
	height:101px;
	overflow:hidden;
}
.left_bookmark a{
	width:190px;
	height:91px;
	overflow:hidden;
	outline:none;
	background:url(../images/bookmark.gif) 0 -91px no-repeat;
	display:block;
}
.left_bookmark a:hover{
	background:url(../images/bookmark.gif) 0 0 no-repeat;
}
